:root {

    /* == Divider == */
    --divider-color: #acacac;

    /* == Title == */
    --app-logo-mini-filter: invert();
    --app-title-color: #cccccc;

    /* == User search == */
    --user-search-styling-container-color: #0e0e22;
    --user-search-styling-container-border-color: #5a5a5a;

    /* == Main colors == */
    /* --bg-color: #daecf7;
    --chat-outline-color: #66a8ce;
    --chat-color: #0e1722; */

    --bg-color: #2b2b2b;
    --chat-outline-color: #a0a0ff;
    --chat-outline-color-gradient: linear-gradient(339deg,rgba(6, 6, 20, 1) 0%, rgba(136, 125, 184, 1) 33%, rgba(112, 119, 255, 1) 66%, rgba(113, 4, 186, 1) 100%);
    --chat-color: #0e0e22;

    /* == Mini user profile colors */
    --mini-usr-profile-div-color: #d3d3d3; 
    --mini-usr-profile-div-border-color: #5a5a5a;
    --mini-usr-profile-bio-color: #5a5a5a;

    /* == Banner color == */
    --usr-banner-color: #303030;
}